<section>
    <div class="px-4 py-[75px] bg-lightGray md:px-10 md:py-[150px]">
        <h3 class="flex flex-col gap-5 text-[26px] tracking-[0.3px] mb-[60px] md:text-[35px] md:tracking-[1.75px] md:leading-[41px]">
        	{{ block_title }}
        </h3>
        <div class="grid grid-cols-2 gap-2 md:grid-cols-6 md:gap-10">
        	{% for customer in customers %}
        	<a href="/projects?customer={{ customer.customer_name }}">
        		<img class="w-full h-full" src="{{ customer.logo }}" alt="{{ customer.logo_alt }}">
        	</a>
        	{% endfor %}
        </div>
    </div>
</section>