{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{%
    set classes = [ 
        'max-w-[250px]',
        'rounded-xl', 
        'md:max-w-[300px]',
        'font-["halbfett"]',
        'outline-none',
        'flex-grow'
    ]
%}

<div class="">
    <div class="text-[35px] gap-[15px] flex md:flex-row flex-col justify-start px-4 md:px-0 mb-[64px] md:mb-[44px] md:max-w-[842px] md:mx-auto ">
        <h2>{{ 'Suchergebnisse für:' | t}}</h2>
        <div class="text-[35px]">     
            <input{{ attributes.addClass(classes) }} />{{ children }}          
        </div>
    </div>
</div>

