<div id="dropdowns" class="flex flex-col items-center gap-4 px-4 mb-10 md:flex-row md:justify-center">
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex justify-between items-center md:max-w-[250px]">
		<span class="ml-5">Gebäudeart</span>
		<button>
			<svg class="mr-5" xmlns="http://www.w3.org/2000/svg" width="20.238" height="17.521" viewbox="0 0 20.238 17.521">
				<g id="Gruppe_1259" data-name="Gruppe 1259" transform="translate(20.238 8.766) rotate(120)">
					<path id="Pfad_29233" data-name="Pfad 29233" d="M0,0V3.053l7.466,4.31v8.643l2.644,1.526V5.837Z" transform="translate(0 0)" fill="#e63229"/>
				</g>
			</svg>

		</button>
		<ul class="absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50">
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Industriebau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Büro- & Verwaltungsbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Handel & Gewerbe</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Wohnungsbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Krankenhäuser & Pflegeheime</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Forschung & Lehre</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Schulen & Kindertagesstätten</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Sonderbauten</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Tiefbau & Ingenieurbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Bauen im Bestand & Sanierungen</a>
			</li>
		</ul>
	</div>
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex justify-between items-center md:max-w-[250px]">
		<span class="ml-5">Leistung</span>
		<button>
			<svg class="mr-5" xmlns="http://www.w3.org/2000/svg" width="20.238" height="17.521" viewbox="0 0 20.238 17.521">
				<g id="Gruppe_1259" data-name="Gruppe 1259" transform="translate(20.238 8.766) rotate(120)">
					<path id="Pfad_29233" data-name="Pfad 29233" d="M0,0V3.053l7.466,4.31v8.643l2.644,1.526V5.837Z" transform="translate(0 0)" fill="#e63229"/>
				</g>
			</svg>

		</button>
		<ul class="absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50">
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Industriebau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Büro- & Verwaltungsbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Handel & Gewerbe</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Wohnungsbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Krankenhäuser & Pflegeheime</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Forschung & Lehre</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Schulen & Kindertagesstätten</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Sonderbauten</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Tiefbau & Ingenieurbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Bauen im Bestand & Sanierungen</a>
			</li>
		</ul>
	</div>
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex justify-between items-center md:max-w-[250px]">
		<span class="ml-5">Branche</span>
		<button>
			<svg class="mr-5" xmlns="http://www.w3.org/2000/svg" width="20.238" height="17.521" viewbox="0 0 20.238 17.521">
				<g id="Gruppe_1259" data-name="Gruppe 1259" transform="translate(20.238 8.766) rotate(120)">
					<path id="Pfad_29233" data-name="Pfad 29233" d="M0,0V3.053l7.466,4.31v8.643l2.644,1.526V5.837Z" transform="translate(0 0)" fill="#e63229"/>
				</g>
			</svg>

		</button>
		<ul class="absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50">
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Industriebau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Büro- & Verwaltungsbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Handel & Gewerbe</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Wohnungsbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Krankenhäuser & Pflegeheime</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Forschung & Lehre</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Schulen & Kindertagesstätten</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Sonderbauten</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Tiefbau & Ingenieurbau</a>
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				<a class="hover:text-mainRed" href="#">Bauen im Bestand & Sanierungen</a>
			</li>
		</ul>
	</div>
</div>
<div class="output grid grid-cols-1 gap-[75px] px-4 mb-[100px] md:grid-cols-2 md:gap-10"></div>
