<div class="flex flex-col items-center gap-4 px-4 mb-10 md:flex-row md:justify-center">
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex items-center md:max-w-[250px]">
		<div class = "project-dropdown flex justify-between items-center w-full" id ="building">
			<span class="ml-5" >Building type</span>
			<div>
				<img src="modules/custom/projects/images/arrow-open-close-content.svg" class="mr-5">
			</div>
		</div>
		<ul class="list-items absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50" id="building-dropdown">
		<li class="py-3 px-5 bg-lightGray border-t border-white">
				Building type
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Industrial building
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Office & administration building
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Trade & Commerce
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Residential construction
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Hospitals & nursing homes
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Research & Teaching
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Schools & day care centers
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Special constructions
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Civil Engineering & Structural Engineering
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Building in stock & renovations
			</li>
		</ul>
	</div>
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex items-center md:max-w-[250px]">
		<div class="project-dropdown flex justify-between items-center w-full" id="service">
			<span class="ml-5" >Service</span>
			<div>
				<img src="modules/custom/projects/images/arrow-open-close-content.svg" class="mr-5">
			</div>
		</div>
		<ul class="list-items absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50" id="service-dropdown">
		<li class="py-3 px-5 bg-lightGray border-t border-white">
				Service
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Structural engineering
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				General
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Digital planning / BIM
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Building
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Opinion
			</li>
		</ul>
	</div>
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex items-center md:max-w-[250px]">
		<div class="project-dropdown flex justify-between items-center w-full" id="sector">
			<span class="ml-5">Sector</span>
			<div>
				<img src="modules/custom/projects/images/arrow-open-close-content.svg" class="mr-5">
			</div>
		</div>
		<ul class="list-items absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50" id="sector-dropdown">
		<li class="py-3 px-5 bg-lightGray border-t border-white">
				Sector
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Energy supply
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Transport & Logistics
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				automotive industry
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Semiconductor & Information Technology
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Industry & Trade
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Housing
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Healthcare
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Contractors & Property Developers
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				General planners & architects
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Public clients
			</li>
		</ul>
	</div>
</div>
<div class="output grid grid-cols-1 gap-[75px] px-4 mb-[100px] md:grid-cols-2 md:gap-10"></div>