<div class="flex flex-col items-center gap-4 px-4 mb-10 md:flex-row md:justify-center">
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex items-center md:max-w-[250px]">
		<div class = "project-dropdown flex justify-between items-center w-full">
			<span class="ml-5">Gebäudeart</span>
			<div>
				<img src="modules/custom/projects/images/arrow-open-close-content.svg" class="mr-5">
			</div>
		</div>
		<ul class="list-items absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50">
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Industriebau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Büro- & Verwaltungsbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Handel & Gewerbe
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Wohnungsbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Krankenhäuser & Pflegeheime
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Forschung & Lehre
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Schulen & Kindertagesstätten
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Sonderbauten
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Tiefbau & Ingenieurbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Bauen im Bestand & Sanierungen
			</li>
		</ul>
	</div>
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex items-center md:max-w-[250px]">
		<div class="project-dropdown flex justify-between items-center w-full">
			<span class="ml-5">Leistung</span>
			<div>
				<img src="modules/custom/projects/images/arrow-open-close-content.svg" class="mr-5">
			</div>
		</div>
		<ul class="list-items absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50">
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Industriebau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Büro- & Verwaltungsbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Handel & Gewerbe
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Wohnungsbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Krankenhäuser & Pflegeheime
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Forschung & Lehre
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Schulen & Kindertagesstätten
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Sonderbauten
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Tiefbau & Ingenieurbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Bauen im Bestand & Sanierungen
			</li>
		</ul>
	</div>
	<div class="cursor-pointer transition-none relative w-full h-[50px] rounded-3xl bg-lightGray flex items-center md:max-w-[250px]">
		<div class="project-dropdown flex justify-between items-center w-full">
			<span class="ml-5">Branche</span>
			<div>
				<img src="modules/custom/projects/images/arrow-open-close-content.svg" class="mr-5">
			</div>
		</div>
		<ul class="list-items absolute hidden overflow-hidden top-full rounded-b-3xl w-full z-50">
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Industriebau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Büro- & Verwaltungsbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Handel & Gewerbe
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Wohnungsbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Krankenhäuser & Pflegeheime
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Forschung & Lehre
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Schulen & Kindertagesstätten
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Sonderbauten
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Tiefbau & Ingenieurbau
			</li>
			<li class="py-3 px-5 bg-lightGray border-t border-white">
				Bauen im Bestand & Sanierungen
			</li>
		</ul>
	</div>
</div>
<div class="output grid grid-cols-1 gap-[75px] px-4 mb-[100px] md:grid-cols-2 md:gap-10"></div>


{# {{ base_path ~ directory }} #}
