{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{%
    set classes = [
        'absolute',
        'peer', 
        'w-0',
        'h-0',
        'cursor-pointer',
        'opacity-0'
    ]
%}

<label class="flex flex-row-reverse cursor-pointer select-none w-fit">
	<input{{attributes.addClass(classes)}}/>{{ children }}
	<div class="w-[40px] h-[40px] text-[16px] bg-white   flex items-center justify-center text-red-600 rounded-full"><i class="fa-solid fa-xmark text-[25px]"></i></div>
</label>
