<section>
	<div class="bg-lightGray px-4 py-[75px] md:px-10 md:py-[150px]">
		<h3 class="text-[26px] tracking-[1.3px] leading-none mb-[70px] md:text-[35px] md:leading-10 md:tracking-[1.75px]">
            Jetzt direkt bewerben!
        </h3>
        {{ content }}
    </div>
</section>

