    <span class="block text-[15px] leading-[19px] tracking-[0.75px] opacity-50 mb-[60px] md:m-0">{{content.field_copyright[0]}}</span>
    <a class="block" href="{{content.field_footer_image_link[0]['#url']}}"><img class="w-1/2 md:w-full" src={{ file_url(content.field_footer_image['#items'].entity.uri.value) }} alt="{{content.field_footer_image['#title']}}"></a>