<section>
   <div class="flex flex-col gap-36 px-4 py-[75px] md:px-10 md:py-[150px] md:gap-56 ">
      {% for paragraph in content.field_paragraph_faq_content %} 
         {% if paragraph['#paragraph'] %}
            <div class="flex items-start justify-between flex-col gap-5 md:flex-row">               
               <div class="text-fade">
                  <h3 class="text-[26px] text-content-fade tracking-[1.3px] leading-none flex flex-col gap-5 md:gap-7 md:text-[35px] md:leading-10 md:tracking-[1.75px]">
                     {{ paragraph['#paragraph'].field_paragraph_faq_title.0.value }}
                  </h3>
               </div>
               <div class="text-[15px] leading-[22px] tracking-[0.75px] md:w-1/2">
                  <div class="text-fade">
                     <ul class="text-content-fade flex flex-col gap-4 arrow">
						      {% for item in paragraph['#paragraph'].field_paragraph_faq_description %}
                           <li>{{ item.value | striptags }}</li>
						      {% endfor %}  
                     </ul>
                  </div> 
               </div> 
               </div>
         {% endif %}
		{% endfor %} 
   </div>
</section>

