{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{%
    set classes = [
        'max-w-fit',
        'group',
        'relative', 
        'h-10', 
        'flex', 
        'gap-4', 
        'z-10', 
        'pr-6', 
        'items-center',
        'rounded-[40px]',
        'overflow-hidden',
        'mt-[60px]',
    ]
%}
<button {{ attributes.addClass(classes) }}> 
    <span class="absolute left-0 top-0 -z-10 h-full w-0 rounded-[40px] bg-mainRed group-hover:w-full"></span>
    <span class="h-full aspect-square rounded-full bg-mainRed flex items-center justify-center"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
    Bewerbung absenden
</button>